.footer-container {
  align-items: center;
  background-color: rgb(240 240 240);
  color: rgb(77 75 75);
  display: flex;
  font-size: 14px;
  justify-content: center;
  padding: 30px;
}

.footer-container p {
  margin-right: 5px;
}

.footer-dashe {
  display: block;
}

@media ( max-width : 375px ) {

  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .footer-dashe {
    display: none;
  }
}
