.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(240, 240, 240);
  color: rgb(77, 75, 75);
  font-size: 14px;
}

.header-container img{
  margin-left: 50px;
}