.header-container {
  align-items: center;
  background-color: rgb(240 240 240);
  color: rgb(77 75 75);
  display: flex;
  font-size: 14px;
  justify-content: flex-start;

  /* position: fixed; */

  /* top: 0;
  width: 100%; */
}

.header-container button {
  cursor: pointer;
}

.header-container button img {
  margin-left: 50px;
}
