.list-container {
  border: 1px solid rgb(194, 193, 193);
  list-style: none;
}

.list-container li {
  align-items: center;
  border: 1px solid rgb(194, 193, 193);
  display: flex;
  justify-content: space-between;
  padding: 5px 12px;
  text-decoration: none;
  width: 90vw;
}

.list-container li a {
  color: black;
  opacity: 0.8;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.list-container li a:hover {
  color: rgb(224 20 105);
  cursor: pointer;
  opacity: 1;
}

.list-options {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 120px;
}

.list-options button {
  background-color: white;
  border: none;
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}

.list-options button:hover {
  opacity: 1;
}

.list-options button img {
  padding: 5px;
}

.list-options img:hover {
  cursor: pointer;
}

